.navBar {
    position: sticky;
    top: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: rgba(69, 77, 66, 0.978);
    border-radius: 3px;
    width: 45rem;
    margin: auto;
    margin-bottom: 25px;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding: 0;
}
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}
li {
    height: 100%;
    transition-property: all;
    transition-duration: 2s;
}
li :hover{
    box-shadow: 2px 1px 15px 2px black;
    border-radius: 5px;
}