.dashboard-container {
    margin: auto;
    width: fit-content;
    min-height: 35rem;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(93, 148, 138, 0.34);
}
input {
    width: 25rem;
    font-size: 2rem;
}
table {
    overflow-x: hidden;
    border-collapse: collapse;
    margin-top: 20px;
    border-bottom: 1px solid #dddddd;
}
td, th {
    font-size: 2rem;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: rgba(7, 6, 6, 0.282);
    border: none;
    border-bottom: 1px solid #dddddd;
    height: 100px;
}
td {
    padding: 15px;
}
@media (max-width: 1010px) {
    .dashboard-container {
        width: 310px;
        padding: 0;
    }
    input {
        width: 10rem;
        font-size: 1rem;
    }
    td, th {
        font-size: 10px;
        padding: 5px;
        height: 0;
        border-bottom: 1px solid #dddddd;
    }
}